langchain
langchain-groq
langchain-postgres
langchain-huggingface
sentence-transformers
psycopg2-binary
pypdf
pdfplumber
python-docx
python-dotenv
tiktoken
pandas
unstructured
openpyxl
langchain-text-splitters
pgvector